
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Cards{
    background-color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 500px;
    background-color: #FFFFFF;
}    

.innersection1, .innersection2, .innersection3, .innersection4{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 50%;
    width: 20%;
    gap: 20px;
    background-color: #fff;
    border-radius: 30px;
   font-size: 12px;
   line-height: 24px;
   box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, .07);
   transition: all .3s cubic-bezier(.215, .61, .355, 1);
   transform: translate(0,0);
}
h1{
    /* text-align: center; */
    margin-top: 15px;
    margin-left: 20px;
}
p{
    margin-left: 15px;
}
.all-cards a{
    color: red;
}
.innersection1{
    margin-top: 200px;
}
.innersection2{
    margin-top: 100px;
}
.innersection3{
    margin-top: 20px;
}
.innersection4{
    margin-bottom: 60px;
}
.innersection1:hover{
    background: transparent;
}
.innersection2:hover{
    background: transparent;
}
.innersection3:hover{
    background: transparent;
}
.innersection4:hover{
    background: transparent;
}
