*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainfirst{
    background-color: #ffffff;
    padding: 50px 120px;
    position: relative;
    overflow: hidden;

}

.mainInner{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 1400px;
    gap: 60px;
    margin: 0 auto;
    
}
p{
    color: #555;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 25.2px;
    font-family: "Gothic A1", sans-serif;
}
.innerFirst button{
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    font-weight: 600;
    background-color: #e30613;
    color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(227,6,19,0.3);
    transition: all 0.3s ease;
}
.innerFirst button:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(227,6,19,0.3);
}